[submodule "frontend"]
	path = frontend
	url = https://github.com/TsvetanDyulgerov/sales-store-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/TsvetanDyulgerov/sales-store-backend.git
